
@import "../../assets/styles/tokens.scss";

.cc-skill-set-container{

}

.cc-card{
    width: 48.5%;
    height: 23em;
    position: relative;
    background: #ffffff;
    box-shadow: 1px 4px 6px #171717;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}


.cc-card-container{
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}

.cc-card-title-container{
    display: table-cell;
    vertical-align: middle;
    z-index: 0;
}

.cc-card-title {
    font-size: .8em;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: auto;
    width: 11em;
    margin-right: auto;
    border: 8px solid #02ce66;
    padding: 10px;
    z-index: 1;
    position: relative;
}

// .cc-card-title-container:before{
//     content: "";
//     height: calc(50% - 1.2em);
//     top: 0;
//     width: .3em;
//     background: #02ce66;
//     position: absolute;
//     margin: auto;
//     z-index: 0;
    
// }

// .cc-card-title-container:after{
//     content: "";
//     height: calc(50% - 1.2em);
//     bottom: 0;
//     width: .3em;
//     background: #02ce66;
//     position: absolute;
//     margin: auto;
// }

.light-bulb{
    background-image: url('./../../assets/images/skill-set/light-bulb.jpg')
}

.neural-net {
    background-image: url('./../../assets/images/skill-set/neural-net.jpg')
}
.power-plant {
    background-image: url('./../../assets/images/skill-set/power-plant.jpg')
}
.security {
    background-image: url('./../../assets/images/skill-set/security.png')
}
.crypto {
    background-image: url('./../../assets/images/skill-set/crypto.jpg')
}
.stock-trades {
    background-image: url('./../../assets/images/skill-set/stock-trades.jpg')
}
.workflow {
    background-image: url('./../../assets/images/skill-set/workflow.jpg')
}
