
@import "../../assets/styles/tokens.scss";

.cc-skill-set-container{
 background-color:  $cc-white;
}

.cc-card{
    width: 30%;
    border-radius: 10px;
    box-shadow: $cc-box-shadow-dark;
    margin: $cc-margin-xs;
}

.cc-card-container{
    position: relative;
}

.cc-card-title{
    opacity: .9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    height: 12em;
    background: #ffffff;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.cc-card-title > label {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: .8em;
    text-transform: uppercase;
    color: #ffffff;
    background: #02ce66;
    padding: .4em 1em .4em 1em;
}

.cc-card-body{
    position: relative;
    height: 5em;
}

.cc-card-footer{
    height: 2em;
    position: relative;
}

.cc-card::after{
    border: 1px solid red;
}

.light-bulb{
    background-image: url('./../../assets/images/skill-set/light-bulb.jpg')
}

.neural-net {
    background-image: url('./../../assets/images/skill-set/neural-net.jpg')
}
.power-plant {
    background-image: url('./../../assets/images/skill-set/power-plant.jpg')
}
.security {
    background-image: url('./../../assets/images/skill-set/security.jpg')
}
.crypto {
    background-image: url('./../../assets/images/skill-set/crypto.jpg')
}
.stock-trades {
    background-image: url('./../../assets/images/skill-set/stock-trades.jpg')
}
.workflow {
    background-image: url('./../../assets/images/skill-set/workflow.jpg')
}
