
@import "../../assets/styles/tokens.scss";

.cc-skill-set-container{
    padding: 1em;
}

.skill-container{
    width: 100%;
    height: 15em;
    margin-top: 0em;
    display: flex;
    padding: 0em 0em 0em 0em;
    border-bottom: 4px solid transparent;

}

.cc-card{
    max-width: 29em;
    height: 100%;
    width: 33.3%;
    
}
.skill-info{
    width: 66%;
    margin: 5px;
}


.cc-card-container{
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
.blank-card{
    box-shadow: none;
    background: transparent;

}

.cc-card-title-container{
    display: table-cell;
    vertical-align: middle;
    z-index: 0;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.cc-card-title {
    font-size: .8em;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: auto;
    width: 11em;
    margin-right: auto;
    // border: 8px solid $cc-green;
    padding: 10px;
    z-index: 1;
    position: relative;

}

.cc-card-title-container:hover{
    background-color: $cc-green;
    cursor: pointer;

}

.cc-card-line{
    
    -moz-transition: all .9s ease-in;
    -o-transition: all .9s ease-in;
    -webkit-transition: all .9s ease-in;
    transition: all .9s ease-in;
}

.cc-card-line:before{
    content: "";
    height: calc(50% - 1.2em);
    bottom: 0;
    width: .3em;
    background: $cc-green;
    position: absolute;
    margin: auto;
}

.light-bulb{
    background-image: url('./../../assets/images/skill-set/light-bulb.jpg')
}

.neural-net {
    background-image: url('./../../assets/images/skill-set/neural-net.jpg')
}
.power-plant {
    background-image: url('./../../assets/images/skill-set/power-plant.jpg')
}
.security {
    background-image: url('./../../assets/images/skill-set/security.png')
}
.crypto {
    background-image: url('./../../assets/images/skill-set/crypto.jpg')
}
.stock-trades {
    background-image: url('./../../assets/images/skill-set/stock-trades.jpg')
}
.workflow {
    background-image: url('./../../assets/images/skill-set/workflow.jpg')
}
