@import "../../node_modules/fullpage.js/dist/fullpage.css";
@import "../assets/styles/tokens.scss";

::ng-deep .continer-full-page{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    z-index: -1;

}

::ng-deep .cc-section {
    width: 100%;
}


::ng-deep .cc-logo {    
    height: 5em;
    width: 10em;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 12em;
    background-position-x: -2em;

    background-image: url('./../assets/images/logo-300.svg')
}

.cc-top-nav{
    width: 100%;
    height: 4em;
    top: 0;
    z-index: 1;
    position: absolute;
    left: 0;
    background-color: #1f070852;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}


.cc-nav-active::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75%;
    border-radius: 50%;
    margin-top: 4em;
    border: 1px solid $cc-green;
}

::ng-deep .cc-profile-img {    
    height: 15em;
    width: 15em;
    background-repeat: no-repeat;
    background-size: 16em; 
    border-radius: 50%;
    background-image: url('./../assets/images/joe-capone-profile-img.png')
}


::ng-deep .desgin-img {
    background-image: url('./../assets/images/splash-background-medium.jpg');
    background-size: cover;
    background-position-x: center;
}



::ng-deep .cc-container {    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10em;
}



::ng-deep .y-axis-align{
    vertical-align: inherit !important;
}

