
// Colors
 $cc-blue: #0084ff;
 $cc-white: #ffffff;
 $cc-green: #02ce66;
 $cc-black: #212121;
 $cc-fade-black:#ffffff0a;
 $cc-fade-gray:#b1b1b1;

//Borders
 $cc-box-shadow-clear: 1px 1px 5px $cc-white;
 $cc-box-shadow-dark: 1px 1px 5px $cc-fade-gray;

 

//  Spacing
 $cc-margin-xs : 1em;

